<div class="card shadow-sm">
	<div class="card-body">
		<table class="table table-hover">
			<thead>
				<tr class="row">
					<th class="col">
						ID
					</th>
					<th class="col">
						WHEN
					</th>
					<th class="col">
						WHO
					</th>
					<th class="col">
						PROBLEM
					</th>
					<th class="col">
						LANG
					</th>
					<th class="col">
						STATUS
					</th>
					<th class="col">
						TIME
					</th>
					<th class="col">
						MEMORY
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="row">
					<td class="col"><a href="#">1</a></td>
					<td class="col">2020.12.04</td>
					<td class="col">User1</td>
					<td class="col">A</td>
					<td class="col">C++</td>
					<td class="col">Accepted</td>
					<td class="col">15ms</td>
					<td class="col">3100KB</td>
				</tr>
				<tr class="row">
					<td class="col"><a href="#">1</a></td>
					<td class="col">2020.12.04</td>
					<td class="col">User1</td>
					<td class="col">A</td>
					<td class="col">C++</td>
					<td class="col">Accepted</td>
					<td class="col">15ms</td>
					<td class="col">3100KB</td>
				</tr>
				<tr class="row">
					<td class="col"><a href="#">1</a></td>
					<td class="col">2020.12.04</td>
					<td class="col">User1</td>
					<td class="col">A</td>
					<td class="col">C++</td>
					<td class="col">Accepted</td>
					<td class="col">15ms</td>
					<td class="col">3100KB</td>
				</tr>
			</tbody>

		</table>
	</div>
</div>
