<div class="card shadow-sm">
	<div class="card-body">
		<br/>
		<table class="table table-hover">
			<thead>
				<tr class="row">
					<th class="col">
						OJ
						<select class="custom-select">
							<option *ngFor="let source of sources let i = index" (value)="i">
								{{source}}
							</option>
						</select>
					</th>
					<th class="col">
						ID
						<input #vid type="text" class="form-control" placeholder="Search Problems">
					</th>
					<th class="col">
						NAME
						<input #name type="text" class="form-control" placeholder="Search Problems">
					</th>
					<th class="col">
						UPDATE TIME
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let problem of problems" class="row">
					<td class="col">{{problem.source}}</td>
					<td class="col">
						{{problem.vid}}
					</td>
					<td class="col">{{problem.name}}</td>
					<td class="col">2020.12.1</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


