<div class="card shadow-sm">
	<div class="card-body">
		<br/>
		<table class="table table-hover">
			<thead>
				<tr class="row">
					<th class="col">
						OJ
						<select class="custom-select" id="oj">
							<option selected>Codeforces</option>
							<option value="1">UVA</option>
							<option value="2">POJ</option>
							<option value="3">Atcoder</option>
						</select>
					</th>
					<th class="col">
						ID
						<input type="text" class="form-control" placeholder="Search Problems"
							aria-label="Search ID" aria-describedby="button-addon2">
					</th>
					<th class="col">
						NAME
						<input type="text" class="form-control" placeholder="Search Problems"
							aria-label="Search Name" aria-describedby="button-addon2">
					</th>
					<th class="col">
						UPDATE TIME
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="row">
					<td class="col">UVA</td>
					<td class="col">
						1
					</td>
					<td class="col">test1</td>
					<td class="col">2020.12.1</td>
				</tr>
				<tr class="row">
					<td class="col">UVA</td>
					<td class="col"><a href="#">1</a></td>
					<td class="col">test1</td>
					<td class="col">2020.12.1</td>
				</tr>
				<tr class="row">
					<td class="col">UVA</td>
					<td class="col"><a href="#">1</a></td>
					<td class="col">test1</td>
					<td class="col">2020.12.1</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


