<div class="card shadow-sm">
	<div class="card-body">
		<div class="row justify-content-center">
			<input #query type="text" class="form-control col-4" placeholder="Search">
		</div>
		<br/>
		<table class="table table-hover">
			<thead>
				<tr>
					<th> Name </th>
					<th> Active Time </th>
					<th> Join Time </th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let group of groups | paginate:
						{itemsPerPage:20, currentPage:p, totalItems:total}">
					<td>{{group.name}}</td>
					<td>2011/04/25</td>
					<td>2011/04/25</td>
				</tr>
			</tbody>

		</table>
	</div>
</div>

<br/>
<div class="row justify-content-center">
	<pagination-controls class="paginator"
		(pageChange)="getPage($event)"
		auotHide="true"
		previousLabel=""
		nextLabel="" >
	</pagination-controls>
</div>
