.nav-link.active, .nav-pills .show > .nav-link {

	line-height: 2em;
	background-color: #939292 !important;
	color: black !important;
	padding-bottom: 2px;      
}
.nav-link {
	line-height: 2em;
	margin-bottom: 25px !important;
	color: black !important;
}
.nav-tabs {
	border-bottom: 0 !important;
}
