<ul ngbNav #nav="ngbNav" class="nav nav-pills mb-3">
    <li ngbNavItem>
		<a ngbNavLink routerLinkActive="active" routerLink="./description">
			Problem
		</a>
    </li>
    <li ngbNavItem>
		<a ngbNavLink routerLinkActive="active" routerLink="./submit">
			Submit
		</a>
    </li>
    <li ngbNavItem>
		<a ngbNavLink routerLinkActive="active" routerLink="./my-submissions">
			My Submissions
		</a>
    </li>
    <li ngbNavItem>
		<a ngbNavLink routerLinkActive="active" routerLink="./submissions">
			Submissions
		</a>
    </li>
    <li ngbNavItem>
		<a ngbNavLink routerLinkActive="active" routerLink="./discussion">
			Discussion
		</a>
    </li>
    <li ngbNavItem>
		<a ngbNavLink routerLinkActive="active" routerLink="./solutions">
			Solutions
		</a>
    </li>
 </ul>

<router-outlet></router-outlet>

