<nav class="navbar navbar-expand-lg navbar-light">
	<a class="navbar-brand" href="#">
	</a>
	<div class="collapse navbar-collapse">
		<div class="navbar-nav mr-auto">
			<a class="nav-item nav-link" routerLinkActive="active" routerLink="./recent">
				<i class="fas fa-file-invoice"></i> Recent
			</a>
			<a class="nav-item nav-link" routerLinkActive="active" routerLink="./past">
				<i class="fas fa-upload"></i> Past
			</a>
			<a class="nav-item nav-link" routerLinkActive="active" routerLink="./create">
				<i class="fas fa-list"></i> Create
			</a>
		</div>
	</div>
</nav>
<router-outlet></router-outlet>

