<div class="card shadow-sm">
	<div class="card-header">
		Recent or Current Contests
	</div>
	<div class="card-body">
		<table class="table table-hover">
			<thead>
				<tr class="row">
					<th class="col-5">
						Title
					</th>
					<th class="col-4">
						Date
					</th>
					<th class="col">
						Author
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="row">
					<td class="col-5"><a href="#">Test</a></td>
					<td class="col-4">2011/04/25</td>
					<td class="col">Admin</td>
				</tr>
				<tr class="row">
					<td class="col-5">Test</td>
					<td class="col-4">2011/04/25</td>
					<td class="col">Admin</td>
				</tr>
				<tr class="row">
					<td class="col-5">Test</td>
					<td class="col-4">2011/04/25</td>
					<td class="col">Admin</td>
				</tr>

			</tbody>

		</table>
	</div>
</div>

<br/> <br/>
<div class="card shadow-sm">
	<div class="card-header">
		Past Contests
	</div>
	<div class="card-body">
		<table class="table table-hover">
			<thead>
				<tr class="row">
					<th class="col-5">
						Title
					</th>
					<th class="col-4">
						Date
					</th>
					<th class="col">
						Source
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="row">
					<td class="col-5">Test</td>
					<td class="col-4">2011/04/25</td>
					<td class="col">Admin</td>
				</tr>
				<tr class="row">
					<td class="col-5">Test</td>
					<td class="col-4">2011/04/25</td>
					<td class="col">Admin</td>
				</tr>
				<tr class="row">
					<td class="col-5">Test</td>
					<td class="col-4">2011/04/25</td>
					<td class="col">Admin</td>
				</tr>

			</tbody>

		</table>
	</div>
</div>

