<div class="card shadow-sm">
	<div class="card-body">
		<table class="table table-hover">
			<thead>
				<tr class="row">
					<th class="col">
						RANK
					</th>
					<th class="col-3">
						TEAM
					</th>
					<th class="col">
						SCORE
					</th>
					<th class="col">
						A
					</th>
					<th class="col">
						B
					</th>
					<th class="col">
						C
					</th>
					<th class="col">
						D
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="row">
					<td class="col"><a href="#">1</a></td>
					<td class="col-3">User1</td>
					<td class="col">312</td>
					<td class="col">312</td>
					<td class="col">312</td>
					<td class="col">312</td>
					<td class="col">312</td>
				</tr>
				<tr class="row">
					<td class="col"><a href="#">1</a></td>
					<td class="col-3">User1</td>
					<td class="col">312</td>
					<td class="col">312</td>
					<td class="col">312</td>
					<td class="col">312</td>
					<td class="col">312</td>
				</tr>
				<tr class="row">
					<td class="col"><a href="#">1</a></td>
					<td class="col-3">User1</td>
					<td class="col">312</td>
					<td class="col">312</td>
					<td class="col">312</td>
					<td class="col">312</td>
					<td class="col">312</td>
				</tr>
			</tbody>

		</table>
	</div>
</div>

