<div class="card shadow-sm">
	<div class="card-body">
		<div class="input-group mb-3 col-7 offset-2">
			<input type="text" class="form-control" placeholder="Search Problems"
				aria-label="Search Problem" aria-describedby="button-addon2">
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button" id="button-addon2">
					Search
				</button>
			</div>
		</div>
		<br/>
		<table class="table table-hover">
			<thead>
				<tr class="row">
					<th class="col">
						#
					</th>
					<th class="col">
						NAME
					</th>
					<th class="col">
						PASS RATE
					</th>
					<th class="col">
						DIFFICULTY
					</th>

				</tr>
			</thead>
			<tbody>
				<tr class="row">
					<td class="col">1</td>
					<td class="col"><a href="#">Test</a></td>
					<td class="col">1/100</td>
					<td class="col">Hard</td>
				</tr>
				<tr class="row">
					<td class="col">1</td>
					<td class="col"><a href="#">Test</a></td>
					<td class="col">1/100</td>
					<td class="col">Hard</td>
				</tr>
				<tr class="row">
					<td class="col">1</td>
					<td class="col"><a href="#">Test</a></td>
					<td class="col">1/100</td>
					<td class="col">Hard</td>
				</tr>
			</tbody>

		</table>
	</div>
</div>
