<br/>
<div class="row">
	<label class="col-1 col-form-label">
		Language:
	</label>
	<select class="custom-select col-2" (change)="selectLanguage($event.target.value)">
		<option *ngFor="let language of languages let i=index" [value]="i">
			{{language.value}}
		</option>
	</select>
	&nbsp; 
	<button type="button" class="btn btn-light col-1" (click)="clearCode()">Clear</button>
	&nbsp; 
	<input type="file" id="loadcode" (change)="loadCode($event.target.files[0])" style="display: none;"/>
	<button type="button" class="btn btn-light col-1"
			onclick="document.getElementById('loadcode').click();">
		Upload
	</button>
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<label class="col-1 offset-md-3 col-form-label">
		Theme:
	</label>
	<select class="custom-select col-2" (change)="selectTheme($event.target.value)">
		<option *ngFor="let theme of themes let i = index" [value]="i">
			{{theme}}
		</option>
	</select>
</div>
<br/>
<div class="row">
	<div class="col-12">
		<ngx-codemirror [(ngModel)]="code" [options]="options">
		</ngx-codemirror>
	</div>

	<div *ngIf="!has_code" class="alert alert-danger" role="alert">
		Please put your source code.
	</div>
</div>
<br/>
<button type="button" (click)="submit()" class="btn btn-success col-sm-2 offset-sm-5">
	Submit
</button>
