<div class="row">
	<label for="language" class="col-2">
		<h5> Language: </h5>
	</label>
	<select class="custom-select col-2" id="language">
		<option value="0">C</option>
		<option value="1">C++</option>
		<option value="2">Python</option>
		<option value="3">Java</option>
	</select>
</div>
<br/>
<form>
	<div class="row">
		<label for="code" class="col-2">
			<h5> Code: </h5>
		</label>
		<textarea class="form-control col-7" id="code" rows="18"></textarea>
	</div>
	<br/>
	<button type="button" class="btn btn-success col-sm-1 offset-sm-5">Submit</button>
</form>

