<div class="card shadow-sm">
	<div class="card-body">
		<table class="table table-hover">
			<thead>
				<tr class="row">
					<th class="col-5">
						Title
					</th>
					<th class="col-4">
						Date
					</th>
					<th class="col">
						Author
					</th>
				</tr>
			</thead>
			<tbody>
				<!--
				<tr *ngFor="let contest of contests" routerLink="/contest/{{contest.id}}" class="row">
					<td class="col-5">{{contest.name}}</td>
					<td class="col-4">{{contest.start_time}}</td>
					<td class="col">Admin</td>
				</tr>
				-->
			</tbody>

		</table>
	</div>
</div>

