.logo {
  height: 50px;
  line-height: 70px;
  text-align: center;
  //border: 2px dashed #f69c55;
}

.status {
  height: 50px;
  line-height: 50px;
  text-align: center;
  //border: 2px dashed #f69c55;
}
