<div class="card shadow-sm">
	<div class="card-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th> # </th>
					<th> NAME </th>
					<th> STATUS </th>
					<th> PASS RATE </th>
					<th> </th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let problem of problems">
					<td><a href="#">{{problem.id}}</a></td>
					<td>
						<span class="align-text-bottom">
						{{problem.name}}
						</span>
					</td>
					<td>Accept</td>
					<td>3/45</td>
					<td>
						<button type="button" class="btn btn-outline-danger"
								(click)="deleteProblem(problem.id)">
							<i class="far fa-trash-alt"></i>
						</button>
					</td>
				</tr>
			</tbody>

		</table>
	</div>
</div>
<br/> <br/>

<div class="card shadow-sm">
	<div class="card-body">
		<app-problems-search
			(problemsEvent)="setAllProblems($event)" 
			(loadingEvent)="setLoading($event)" >
		</app-problems-search>
		<br/>
		<div *ngIf="loading" class="row">
			Loading...
		</div>
		<table *ngIf="!loading" class="table table-hover">
			<thead>
				<tr>
					<th> # </th>
					<th> NAME </th>
					<th> PASS RATE </th>
					<th> DIFFICULTY </th>
					<th> </th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let problem of allProblems">
					<td (click)="viewProblem(problem.source, problem.id)">
						{{problem.vid}}
					</td>
					<td>{{problem.name}}</td>
					<td>1/100</td>
					<td>Hard</td>
					<td>
						<button type="button" class="btn btn-outline-dark"
								(click)="addProblem(problem.id)"
							    [disabled]="isAdded(problem.id)">
								<i class="fas fa-plus"></i>
						</button>
					</td>
				</tr>
			</tbody>

		</table>
	</div>
</div>
