<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-1">
				picture
			</div>
			<div class="col">
				<div class="row">
					<div class="col">
						name: root
					</div>
					<div class="col">
						gender: male
					</div>
					<div class="col">
						email: root@root.com
					</div>
				</div>
				<br/>

				<div class="row">
					<div class="col-4">
						<div class="card border-dark mb-3">
							<div class="card-body">
								<div class="row justify-content-between">
									<div class="col-auto">
										<h5 class="card-title">Solved Problems</h5>
									</div>
									<div class="col-auto">
										<i class="fas fa-award fa-2x"></i>
									</div>
								</div>
								<p class="card-text">
									123
								</p>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="card border-dark mb-3">
							<div class="card-body">
								<div class="row justify-content-between">
									<div class="col-auto">
										<h5 class="card-title">Participated Contests</h5>
									</div>
									<div class="col-auto">
										<i class="fas fa-award fa-2x"></i>
									</div>
								</div>
								<p class="card-text">
									123
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card border-dark mb-3">
							<div class="card-body">
								<div class="row justify-content-between">
									<div class="col-auto">
										<h5 class="card-title">Joined Groups</h5>
									</div>
									<div class="col-auto">
										<i class="fas fa-award fa-2x"></i>
									</div>
								</div>
								<p class="card-text">
									123
								</p>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="card border-dark mb-3">
							<div class="card-body">
								<div class="row justify-content-between">
									<div class="col-auto">
										<h5 class="card-title">Contributed Solutions </h5>
									</div>
									<div class="col-auto">
										<i class="fas fa-award fa-2x"></i>
									</div>
								</div>
								<p class="card-text">
									123
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link active" id="nav-overview-tab" data-toggle="tab"
					  data-target="#nav-overview" type="button" role="tab"
					  aria-controls="nav-overview" aria-selected="true">
					Overview
				</button>
				<button class="nav-link" id="nav-setting-tab" data-toggle="tab"
					  data-target="#nav-setting" type="button" role="tab"
					  aria-controls="nav-setting" aria-selected="false">
					Settings
				</button> 
			</div>
		</nav>

		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-overview" role="tabpanel"
				aria-labelledby="nav-overview-tab">
				<br/>
				<div class="accordion md-accordion accordion-blocks" id="accordionEx78"
					role="tablist" aria-multiselectable="true">
					<div class="card">
						<div class="card-header" role="tab" id="headingProblems">
							<a data-toggle="collapse" data-parent="#accordionEx78" href="#problems"
								   aria-expanded="true" aria-controls="problems">
								<h5 class="mt-1 mb-0">
									Solved Problems
									<i class="fas fa-angle-down rotate-icon"></i>
								</h5>
							</a>
						</div>

						<div id="problems" class="collapse" role="tabpanel" aria-labelledby="headingProblems"
											data-parent="#accordionEx78">
							<div class="card-body">

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="nav-setting" role="tabpanel"
				aria-labelledby="nav-setting-tab">
				.
			</div>
		</div>

	</div>
</div>
