<div class="row">
	<div class="col-9">
		<div class="card">
			<div class="card-header">
				Recent Contests
			</div>
			<div class="card-body">
<app-home-calendar></app-home-calendar>
			</div>
		</div>
		<div class="card mt-4">
			<div class="card-header">
				Announcements
			</div>
			<div class="card-body">
			</div>
		</div>
		<div class="card mt-4 shadow-sm">
			<div class="card-header">
				Recent Problems
			</div>
			<div class="card-body">
				asdsdasdsad
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="card mb-4">
			<div class="card-header">
				Overview
			</div>
			<div class="card-body">
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				Top Scored
			</div>
			<div class="card-body">
			</div>
		</div>
	</div>
</div>
