<div class="card shadow-sm">
	<div class="card-body">
		<app-search
			[which]="which"
			[others]="others"
			(itemsEvent)="setProblemSets($event)" 
			(loadingEvent)="setLoading($event)" >
		</app-search>
		<br/>
		<table class="table table-hover">
			<thead>
				<tr>
					<th> Title </th>
					<th> Description </th>
					<th> Author </th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let problemSet of problemSets | paginate:
						{itemsPerPage:20, currentPage:p, totalItems:total}">
					<td routerLink="/problem-set/{{problemSet.id}}">{{problemSet.name}}</td>
					<td>{{problemSet.description}}</td>
					<td>{{problemSet.creater}}</td>
				</tr>
			</tbody>

		</table>
	</div>
</div>
<br/>
<div class="row justify-content-center">
	<pagination-controls class="paginator"
		(pageChange)="getPage($event)"
		auotHide="true"
		previousLabel=""
		nextLabel="" >
	</pagination-controls>
</div>
