<div class="card shadow-sm">

	<div class="card-body">
		<app-problems-search
			(problemsEvent)="setProblems($event)" 
			(loadingEvent)="setLoading($event)" >
		</app-problems-search>
		<br/>
		<div *ngIf="loading" class="row">
			Loading...
		</div>
		<table *ngIf="!loading" class="table table-hover">
			<thead>
				<tr>
					<th> # </th>
					<th> SOURCE </th>
					<th> TITLE </th>
					<th> STATUS </th>
					<th>
						<div class="custom-control custom-switch">
							<input type="checkbox" class="custom-control-input" id="tags">
							<label class="custom-control-label" for="tags">TAGS</label>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let problem of problems | paginate:
							{itemsPerPage:20, currentPage:p, totalItems:total}" 
							(click)="viewProblem(problem.source, problem.id)">
					<td>{{problem.id}}</td>
					<td>{{problem.vid}}</td>
					<td>{{problem.name}}</td>
					<td>22/45</td>
					<td>Hard</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<br/>
<div class="row justify-content-center">
	<pagination-controls class="paginator"
		(pageChange)="getPage($event)"
		auotHide="true"
		previousLabel=""
		nextLabel="" >
	</pagination-controls>
</div>
