
<div class="card shadow-sm">
	<div class="card-body">
		<app-problems-search
			(problemsEvent)="setProblems($event)" 
			(loadingEvent)="setLoading($event)" >
		</app-problems-search>
		<br/>
		<div *ngIf="loading" class="row">
			Loading...
		</div>
		<table *ngIf="!loading" class="table table-hover">
			<thead>
				<tr class="row">
					<th class="col">
						#
					</th>
					<th class="col">
						NAME
					</th>
					<th class="col">
						PASS RATE
					</th>
					<th class="col">
						DIFFICULTY
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let problem of problems" class="row" 
					 (click)="getProblem(problem.source, problem.id)">
					<td class="col">{{problem.vid}}</td>
					<td class="col">{{problem.name}}</td>
					<td class="col">1/100</td>
					<td class="col">Hard</td>
				</tr>
			</tbody>

		</table>
	</div>
</div>
