<div class="accordion md-accordion accordion-blocks" id="accordionEx78"
	role="tablist" aria-multiselectable="true">
	<div class="card">
		<div class="card-header" role="tab" id="headingProblems">
			<a data-toggle="collapse" data-parent="#accordionEx78" href="#problems"
				   aria-expanded="true" aria-controls="problems">
				<h5 class="mt-1 mb-0">
					Solved Problems
					<i class="fas fa-angle-down rotate-icon"></i>
				</h5>
			</a>
		</div>

		<div id="problems" class="collapse" role="tabpanel" aria-labelledby="headingProblems"
							data-parent="#accordionEx78">
			<div class="card-body">

			</div>
		</div>
	</div>
</div>
