.logo {
  height: 50px;
  line-height: 50px;
  text-align: center;
  //border: 2px dashed #f69c55;
}

.status {
  height: 50px;
  line-height: 50px;
  text-align: center;
  //border: 2px dashed #f69c55;
}

.paginator {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.paginator ::ng-deep .ngx-pagination .current {
    background: rgb(131, 131, 131);
    border-radius: 4px;
    padding-left: 9px;
    padding-right: 9px;
}

.paginator ::ng-deep .ngx-pagination a:hover, .ngx-pagination button:hover {
    background: #d4d4d4;
    border-radius: 3px;
    padding-left: 9px;
    padding-right: 9px;
    text-decoration: none;
}

.paginator ::ng-deep .ngx-pagination a:focus, .ngx-pagination button:focus {
    outline: none;
    background: #d4d4d4;
}

.link-title {
    font-family: cursive;
    font-size: 1.575rem;
    text-transform: lowercase;
}

.link-title::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.link-title:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.time {
    font-family: cursive;
    font-size: 1rem;
}
hr { 
  height: 18px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 18px; 
  margin-top: -19px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}
