<div class="card shadow-sm">
	<div class="card-body">
		<table class="table table-hover">
			<thead>
				<tr class="row">
					<th class="col">
						ID
					</th>
					<th class="col">
						WHEN
					</th>
					<th class="col">
						WHO
					</th>
					<th class="col">
						PROBLEM
					</th>
					<th class="col">
						LANG
					</th>
					<th class="col">
						STATUS
					</th>
					<th class="col">
						TIME
					</th>
					<th class="col">
						MEMORY
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let judging of judgings" class="row">
					<td class="col"><a href="#">{{judging.id}}</a></td>
					<td class="col">{{judging.created_at}}</td>
					<td class="col">{{judging.user_id}}</td>
					<td class="col">{{judging.problem_id}}</td>
					<td class="col">C++</td>
					<td class="col">{{judging.result}}</td>
					<td class="col">15ms</td>
					<td class="col"> </td>
				</tr>
				<tr *ngFor="let submission of (submissions$ | async)" class="row">
					<td class="col"><a href="#">{{submission.id}}</a></td>
					<td class="col">{{submission.created_at}}</td>
					<td class="col">{{submission.user_id}}</td>
					<td class="col">{{submission.problem_id}}</td>
					<td class="col">C++</td>
					<td class="col">{{submission.result}}</td>
					<td class="col">15ms</td>
					<td class="col">
					</td>
				</tr>
			</tbody>

		</table>
	</div>
</div>

